.your_spots_map {
  width: 50%;
  flex: 1;
  height: calc(100vh - 80px);
  position: sticky;
  top: 100px;
}

.your_spot_name {
  margin-left: 1.5em;
  font-size: 1.2em;
  margin-top: 10px;
  color: black;
}

.main_content_your_spots {
  margin-top: 10rem;
}

.spot_marker_background {
  background-color: white;
  z-index: 800;
  width: 20px;
  height: 80px;
}

.recenter_button {
  z-index: 999;
  position: absolute;
  margin-left: 11.1458rem;
  margin-top: 0.59rem;
  height: 2.54rem;
  cursor: pointer;
  border: 0.2px solid rgb(179, 170, 170);
  border-radius: 0.09rem;
  background-color: white;
}

.recenter_button:hover {
  opacity: 0.9;
}

.spotPrice {
  color: rgb(113, 113, 113);
  margin-top: 10px;
  font-size: 1em;
  margin-left: 2em;
}

.your_spots_header {
  margin-left: 1.2rem;
}

.your_spots_header_div {
  display: flex;
  justify-content: center;
}

.your_spot_container {
  display: flex;
  padding: 15px;
  border-top: 1px solid rgb(221, 221, 221);
  max-width: 630px;
  min-width: 600px;
}

.main_content_your_spots {
  display: flex;
  justify-content: space-between;
  font-family: "Questrial", sans-serif;
}

.your_spot_edit_button:hover {
  cursor: pointer;
  background-color: #a8927a;
  border: 1px solid #a8927a;
  color: #fff;
  border-radius: 2rem;
}

.your_spot_edit_button {
  cursor: pointer;
  background-color: #63605c;
  border: 1px solid #817f7c;
  color: #fff;
  border-radius: 2rem;
  padding: 1em;
}

.your_spot_delete_button:hover {
  cursor: pointer;
  background-color: rgb(204, 45, 74);
  border: 1px solid #a8927a;
  color: #fff;
  border-radius: 2rem;
}

.your_spot_delete_button {
  cursor: pointer;
  background-color: white;
  border: 1px solid #a8927a;
  color: rgb(0, 0, 0);
  border-radius: 2rem;
  padding: 1em;
}

.your_spot_zoom {
  cursor: pointer;
  margin-left: 4rem;
  background-color: #a8927a;
  border: 1px solid #a8927a;
  color: rgb(73, 69, 69);
  border-radius: 2rem;
  padding: 0.5rem;
}

.your_spot_zoom:hover {
  cursor: pointer;
  margin-left: 4rem;
  background-color: #a8927a;
  border: 1px solid #a8927a;
  color: #fff;
  border-radius: 2rem;
}

.spotAddress {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.spotDescription {
  margin-bottom: 1.5rem;
}

.your_spot_button_container {
  /* position: relative;
  top: 0px;
  right: 0px; */
  display: flex;
  margin-bottom: 2rem;
}

.your_spot_edit_button {
  display: flex;
  justify-content: flex-end;
  margin-left: 15rem;
  margin-right: 1rem;
}

.your_spot_info {
  margin-left: 0.5rem;
}

.delete-spot-modal {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.your_spot_info:hover {
  /* background-color: #d0b8a5b1; */
  /* cursor: pointer; */
  border-radius: 0.8rem;
}

.your_spot_info .your_spot_edit_button {
  opacity: 0;
}

.your_spot_info .pan-to-container {
  opacity: 0;
}

.container-image-slide {
  max-width: 2em;
  border-radius: 20px;
}

.your_spot_slide_div {
  max-width: 22em;
  max-height: 30em;
}

.info_window_name {
  padding: 0.5em;
  margin-top: 2.5em;
  font-weight: bold;
}

.info_window_city {
  padding: 0.5em;
}

.info_window_price {
  padding: 0.5em;
  font-weight: bold;
}

.info_container {
  margin-bottom: 100px;
}

.perNightSpan {
  font-weight: lighter;
  color: #63605c;
}

.your_spot_info:hover .pan-to-container {
  opacity: 100;
  transition: all 0.5s 0s;
}

.your_spot_info:hover .your_spot_edit_button {
  opacity: 100;
  transition: all 0.5s 0s;
}

.your_spot_info .your_spot_delete_button {
  opacity: 0;
}

.your_spot_info:hover .your_spot_delete_button {
  opacity: 100;
  transition: all 0.5s 0s;
}

.your_spot_info .your_spot_zoom {
  opacity: 0;
}

.your_spot_info:hover .your_spot_zoom {
  opacity: 100;
  transition: all 0.5s 0s;
}
