.react-calendar__navigation {
  margin: 0 auto 10px auto;
  width: fit-content;
}

.react-calendar__navigation button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.react-calendar__navigation__label > span {
  font-size: 20px;
  font-family: "Questrial", sans-serif;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__prev2-button {
  font-size: 20px;
}

/* Days of week */
.react-calendar__month-view__weekdays__weekday {
  background-color: white;
  text-align: center;
  width: 30px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #ee555727;
}

.react-calendar__month-view__weekdays__weekday * {
  text-decoration: none;
}

.react-calendar__tile {
  height: 57px;
  border: 1px solid transparent;
  background-color: white;
  transition: all 0.2s 0s;
}

.react-calendar__tile:hover {
  border: 1px solid rgb(221, 221, 221);
  cursor: pointer;
}

.react-calendar__tile:disabled:hover {
  border: 1px solid transparent;
  cursor: default;
}

.react-calendar__tile--active {
  background-color: #ee5557;
  transition: all 0.5s 0s;
}

.react-calendar__tile--active * {
  color: white;
}