header {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 3;
  max-height: 8rem;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.welcome-text {
  padding: 0 10px;
  color: #dfe0df;
  cursor: default;
  font-weight: 400;
  font-style: italic;
  margin-right: 20px;
  font-size: 18px;
}

#signup {
  color: #212121cc;
  margin: 20px;
  /* background-color: #212121cc; */
}

#signup:hover {
  /* background-color: #a8927a; */
  color: #fff;
}

.logout-btn {
  border: 1.4px solid #a8927a;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 1.5rem;
  padding: 5px;
  width: 240px;
  font-weight: 700;
  background-color: whitesmoke;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #a8927a;
  background-color: #a8927a;
}

.logout-btn:hover {
  color: #fff;
  transform: scale(1.06);
  cursor: pointer;
}

.nav-bar {
  display: grid;
  grid-template-columns: 150px auto 500px;
  width: 95%;
  /* padding: 10px 0; */
  text-align: center;
  color: #fff;
}

.nav-bar:hover {
  /* color: #a8927a; */
}

.active-link {
  border-bottom: 1px solid #1e1f1e;
}

#left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: fit-content;
  margin-left: 5em;
}

.home-button {
  transition-duration: 0.2s;
  height: 90px;
  padding: 0 2px;
  cursor: pointer;
}

.home-button:hover {
  color: white;
  transform: scale(1.3);
}

.nav-button {
  border: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  color: #dfe0df9f;

  font-size: 18px;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  padding: 0 25px 0 0;
  transition-duration: 0.2s;
}

.nav-button:hover {
  color: white;
  transform: scale(1.03);
}

.nav-button.my-page-link {
  min-width: 93.19px;
}

#center-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-container {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 1.2em;
}

#right-container > .links {
  display: flex;
  width: 100%;
}

.logout-button {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition-duration: 0.3s;
}

.logout-button:hover {
  transform: scale(1.5);
  /* color: white; */
  cursor: pointer;
}

.greeting-message-nav {
  padding-right: 20px;
  color: #1e1f1e;
}

.search-bar {
  width: 100%;
}
