.signup-btn {
  border: 1.4px solid #a8927a;
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 1.5rem;
  padding: 5px;
  width: 240px;
  font-weight: 700;
  background-color: whitesmoke;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #a8927a;
  background-color: #a8927a;
  font-size: 1.3em;
}

.signup-btn:hover {
  color: #fff;
  transform: scale(1.06);
  cursor: pointer;
}

.signup-btn-disabled {
  font-size: 0.9em;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border-radius: 3px;
  margin-top: 0.6rem;
  padding: 3.5px;
  width: 170px;
  font-weight: 700;
  font-style: italic;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 600px;
  width: 650px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-form input:focus {
  outline: 0;
}

.signup-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in;
}

.signup-header {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: -1rem;
  margin-bottom: 5rem;
}

.signup-input {
  color: black;
  padding: 5px;
  width: 224px;
  margin: 5px;
  margin-bottom: 7px;
  font-size: 14px;
}
