#container-image-slide-id {
  width: 270px;
  height: 270px;
  max-height: 270px;
  max-width: 270px;
  position: relative;
  border-radius: 20px;
}

#single-image-slide-id {
  background-size: cover;
  border-radius: 20px;
  width: 270px;
  height: 270px;
  max-width: 300px;
  min-height: 270px;
  max-height: 300px;
}

.react-slideshow-wrapper.slide {
  border-radius: 20px;
}
