.booking-confirmed-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 2em;
}

.booking-confirmed-details-header {
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 2em;
}

.booking-confirmed-details-info {
  font-size: 0.8em;
}

.booking-card-outer-container {
  width: 100px;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: clip; */
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.booking-card-outer-container:nth-child(odd) {
  /* border-right: 1px solid rgb(221, 221, 221); */
}

.booking-card-outer-container:nth-child(1),
.booking-card-outer-container:nth-child(2) {
  border-bottom: 1px solid transparent;
}

.booking-card-outer-container:nth-child(3),
.booking-card-outer-container:nth-child(4) {
  border-top: 1px solid rgb(221, 221, 221);
}

.booking-card-outer-container:nth-last-child(1) {
  border-bottom: 1px solid transparent;
}

.spot-booking-card {
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
  /* margin-left: 1em; */
  /* background-color: rgba(216, 216, 216, 0.284); */
  transition: all 0.5s 0s;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 100%;
}

.spot-booking-card:hover {
  background-color: #d0b8a5b1;
}

.spot-booking-card .delete-booking-page-button {
  opacity: 0;
}

.spot-booking-card:hover .delete-booking-page-button {
  opacity: 100;
  transition: all 0.5s 0s;
}

.booking-spot-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12vw;
}

.specific-booking-info-card {
  display: flex;
  font-size: 20px;
}

.booking-date {
  font-size: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.booking-picture {
  width: 15vw;
  height: 12vw;
  min-width: 15vw;
  min-height: 12vw;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  /* margin-right: 20px; */
}

#booking-details-container-id {
  align-items: flex-start;
}

#booking-location-id {
  /* margin-right: 25px; */
  margin-right: 4em;
}

.delete-booking-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.delete-booking-form {
  width: fit-content;
  max-width: 500px;
  height: fit-content;
  max-height: 260px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.delete-confirmation-modal {
  font-size: 20px;
  margin: 10px;
}

.delete-booking-confirm-buttons {
  display: flex;
  justify-content: center;
}

.delete-booking-page-button {
  display: flex;
  margin-top: -8em;
  /* margin-right: 12em; */
  /* margin-left: 45em; */
  justify-content: flex-end;
  opacity: 100;
}

.delete-booking-page-button div {
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  transition: all 0.35s 0s;
}

.delete-booking-page-button a {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.delete-booking-button-inner:hover {
  background-color: rgb(204, 45, 74);
  color: #fff;
}
