.main_content_directions {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr)); */
  grid-gap: 2.2rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.directions_input_container {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.directions_destination_input {
  display: none;
}

.button_calculate {
  background-color: turquoise;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 1em;
  cursor: pointer;
}

.button_clear {
  background-color: #be2a46;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 1em;
  cursor: pointer;
}

.input_div {
  display: flex;
  justify-content: center;
}

.directions_main_container {
  border: 2px solid black;
  padding: 2em;
  border-radius: 1.5em;
  margin-bottom: 1em;
  background-color: antiquewhite;
  opacity: 0.8;
  margin-left: 1em;
}

.origin_div {
  margin-right: 1em;
  font-weight: bold;
}

.directions_duration_container {
  color: green;
}

.directions_distance_container {
  color: rgb(11, 34, 82);
}
