.all_spots_main_container {
  width: 100vw;
  max-width: 100%;
  /* margin: 0 auto; */
  /* margin-right: 1.5rem; */
  height: fit-content;
  font-family: "Questrial", sans-serif;
  margin-top: 9rem;
}

.spot_info_main_container {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.all_spots_container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  /* margin: 0 auto; */
  margin-bottom: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.spot_image_slide_div {
  margin: 0.5rem;
}

.spot_name {
  max-width: 270px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.all_spots_main_header {
  margin-left: 3.5rem;
}

.spot_city {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.spot_host {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
